<nav role="navigation" aria-labelledby="block-bootstrap4-main-menu-menu" id="profileNavbar" class="block block-menu navigation menu--main footer_area nav_footer">

    {# {{ logged_in }}
    {{ params[0]["name"] }}
    {{ params[0]["email"] }}
    {{ params[0]["img_url"] }} #}
    <div class="row" style="padding-bottom:50px;">
        {% for footer_item in params['footer_tree'] %}
            {% if footer_item['name'] == 'ติดตามเรา' %}
                <div class="col-lg-4 col-md-4 col-sm-12 col-12">
                    <h2 class="main-li">{{ footer_item['name'] | t }}</h2>
                    <a class="facebook-icon" href="https://www.facebook.com/BigCBigService/" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a class="instagram-icon" href="https://www.instagram.com/hiddenbigc/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <span class="phone-icon">
                        <i class="fas fa-phone-volume"></i>
                        <span class="call-center fs-xs fw-500">{{ 'ติดต่อ Call Center 1756' | t }}<span>
                    </span>
                    
                </div>
            {% else %}
                 <div class="col-2 mobileHide">
                    <h2 class="main-li">{{ footer_item['name'] | t }}</h2>
                    <ul class="navbar-nav mr-auto">

                    {% for footer_sub_item in footer_item %}
                        {% if footer_sub_item is iterable  %}
                            <li class="sub-li font-sm"><a href={{ footer_sub_item['link'] }}>{{ footer_sub_item['name'] | t }}</a></li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                </div>
            {% endif %}
                
        {% endfor %}
    </div>

    <div class="row">
        <div class="col-12 copyright">
            {{ '2020 Big C Supercenter ALL RIGHTS RESERVED.' | t }}       
        </div>
    </div>
</nav>