<nav role="navigation" aria-labelledby="block-bootstrap4-main-menu-menu" id="profileNavbar" class="block block-menu navigation menu--main">

    {# {{ logged_in }}
    {{ params[0]["name"] }}
    {{ params[0]["email"] }}
    {{ params[0]["img_url"] }} #}
    <ul class="navbar-nav mr-auto">
        {% for side_bar_item in params.side_bar_obj %}
            {% if params.active == side_bar_item.link %}
                {# active menu #}
                <li class="side-bar-li active">
                    <a class="font-lg" href="{{ side_bar_item.link }}">
                        {{ side_bar_item.icon | raw }} {{ side_bar_item.name | t }}
                    </a>
                </li>
            {% else %}
                {# inactive menu #}
                <li class="side-bar-li">
                    <a class="font-lg" href="{{ side_bar_item.link }}">
                        {{ side_bar_item.icon | raw }} {{ side_bar_item.name | t}}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>